.nav-slider {
  /*background-color: red;*/
  min-width: 30px;
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  @media (max-width: 1200px) {
    min-width: 50px;
  }
}

.nav-slider-items {
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0;
  list-style: none;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: red;
}
